@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
/* null style */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/* null style */
* {
  font-family: "Poppins", sans-serif;
}

.main {
  position: relative;
  background: linear-gradient(120deg, #fff, #fff 62%, #3b5998 62%, #3b5998 100%);
  min-height: 100vh;
  padding: 0 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .logo img {
  max-width: 50px;
  margin-right: 20px;
}

.header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .nav-item {
  margin: 0 10px;
}

.header .nav-link {
  color: #333;
  font-weight: 500;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.header .nav-link.active, .header .nav-link:hover {
  color: #2d88ff;
}

.header .app-download {
  position: absolute;
  right: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  color: #3b5998;
  padding: 10px;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.header .app-download:hover {
  background: #2d88ff;
  color: #fff;
}

.header .app-download ion-icon {
  margin-right: 10px;
  font-size: 1.4em;
}

.content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content .text {
  max-width: 800px;
}

.content h2 {
  font-size: 6em;
  color: #3b5998;
  font-weight: 700;
}

.content p {
  font-size: 1.1em;
  color: #333;
  font-size: 1.8em;
}

.content h4 {
  margin: 20px 0 20px 0;
  font-weight: 700;
  color: #333;
}

.content .btn {
  background: #3b5998;
  color: #fff;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 15px;
  font-size: 1.1em;
  margin: 5px 20px 5px 0;
  border-radius: 5px;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.content .btn:hover {
  background: #2d88ff;
}

.content ion-icon {
  margin-right: 10px;
  font-size: 1.4em;
}

.image-box .slides {
  margin-left: 50px;
  margin-right: 100px;
  max-width: 300px;
  display: none;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.image-box .slides.active {
  display: block;
}

.dots {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.dots .dot {
  position: relative;
  width: 10px;
  height: 30px;
  background: rgba(225, 225, 225, 0.25);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 5px;
  cursor: pointer;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.dots .dot.active {
  background: #fff;
}

.social-icon {
  position: absolute;
  bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social-icon li {
  margin-right: 20px;
}

.social-icon a {
  font-size: 1.8em;
  color: #3b5998;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.social-icon a:hover {
  color: #2d88ff;
}
