@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

@import "_null";

* {
	font-family: "Poppins", sans-serif;
}

.main {
	position: relative;
	background: linear-gradient(#fff, #fff 60%, #3b5998 60%, #3b5998 100%);
}
.header {
}
.logo {
}
.nav {
}
.nav-item {
}
.nav-link {
}
.active {
}
.app-download {
}
